@use '../../styles/variables' as *;

* {
  box-sizing: border-box;
}

.setting-container {
  width: $global-display-Width;
  min-height: calc(100svh - $footer_height);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
  overflow-y: auto;
}

/* ---------- Logout ---------- */

.setting-logoutButton_container {
  margin-top: 20px;
}

.setting-logout_button {
  width: 200px;
  height: 48px;
  background-color: rgb(75, 75, 248);
  color: white;
  font-size: 16px;
  border-radius: 6px;
}

/* ---------- Select ---------- */

.setting-selects_container {
  width: 90%;
  max-width: 360px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.setting-selects_container select {
  height: 36px;
  font-size: 15px;
}

/* ---------- Toggle ---------- */

.setting-toggle_container {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.setting-toggle_label {
  font-size: 16px;
}

.setting-toggle {
  position: relative;
  width: 96px;
  height: 48px;
  background-color: #ddd;
  border-radius: 48px;
  cursor: pointer;
}

.setting-toggle:has(input:checked) {
  background-color: #4bd865;
}

.setting-toggle::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  transition: left .3s;
}

.setting-toggle:has(input:checked)::after {
  left: 50px;
}

.setting-toggle input {
  display: none;
}

/* ---------- Save ---------- */

.setting-save_button {
  margin-top: 32px;
  width: 200px;
  height: 63px;
  font-size: 16px;
  background-color: rgb(75, 75, 248);
  color: white;
}

.setting-save_button:disabled {
  opacity: .5;
  background-color: white;
}

/* ---------- Message ---------- */

.setting-messageForm {
  width: 100%;
  max-width: 500px;
  margin-top: auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.setting-textbox {
  width: 90%;
  height: 120px;
  padding: 10px;
  resize: none;
}

.setting-textSend_buttonContainer {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.setting-textSend_button {
  width: 120px;
  height: 40px;
  background-color: rgb(75, 75, 248);
  color: white;
  border-radius: 6px;
}
